<nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">Core</div>
            <a class="nav-link" href="/admin">
                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                Dashboard
            </a>
            <a class="nav-link" href="/admin/users">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-user"></i></div>
                Foydalanuvchilar
            </a>
            <a class="nav-link" href="/admin/announcements  ">
                <div class="sb-nav-link-icon"><i class="fa-regular fa-newspaper"></i></div>
                E'lonlar
            </a>
            <a class="nav-link" href="/admin/pending">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-clock"></i></div>
                Kutilayotgan E'lonlar
            </a>
<!--            <a class="nav-link" href="/admin/chat">-->
<!--                <div class="sb-nav-link-icon"><i class="fa-solid fa-message"></i></div>-->
<!--                Xabarlar-->
<!--            </a>-->
            <a class="nav-link" href="/admin/ads">
                <div class="sb-nav-link-icon"><i class="fa-solid fa-bullhorn"></i></div>
                Reklama
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>
